:root{
    --color-white: #FFFFFF
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
     font-size: 18px;
     padding: 0;
     margin: 0;
 }

ul{

    list-style: none;
}

a{
    text-decoration: none;
}
/*header*/

header{
    padding: 2rem;
    width: 100%;
}

.hamburger-icon{
    display: none;
}
header nav{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    justify-content: space-around;
}
header nav ul li {
    margin: 0 1rem;
}
header nav ul li a{
    color: var(--color-white);
    cursor: pointer;
    font-family: "Barlow", sans-serif;

}
header nav ul li:last-child a{
    padding: 0.8rem 1.6rem;
    border-radius: 1.5rem;
    color: hsl(212, 27%, 19%);
    background: var(--color-white);
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.3s;
    font-family: "Fraunces", serif;
    font-size: 0.8rem;
}
header nav ul li:last-child a:hover{
    background: hsla(0, 0%, 100%, 0.37);
    color: var(--color-white);
}
.toggle{
    display: flex !important;
}

/*showcase*/
.showcase{
    background-image: url("/images/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showcase-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showcase-text h1{
    font-family: "Fraunces", serif;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.5rem;
    font-weight: 900;
    margin: 4rem 0;
}

/*features*/
.features{
    min-height: 100vh;
}
.features-item{
    height: 85vh;
    width: 100%;
    display: flex;
}
.features-item-content{
    flex-basis: 50%;
    margin: auto;
    padding: 0 10%;
}
.features-item-content h2{
    font-family: "Fraunces", serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3rem;
    margin-bottom: 2rem;
    color: hsl(212, 27%, 19%);
}
.features-item-content p{
    color: rgb(148, 143, 143);
    font-family: "Barlow", sans-serif;
    line-height: 1.8rem;
    margin-bottom: 3em;
}
.learn-more{
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces", serif;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 0.5rem;
    position: relative;
}
.learn-more::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -0.25rem;
    z-index: -1;
    width: 100%;
    height: 0.7rem;
    border-radius: 1rem;
    opacity: 0.36;
}
.learn-more-left::after{
    background-color: hsl(51, 100%, 49%);
}
.learn-more:hover:active{
    opacity: 1;
}
.features-item-img{
    flex-basis: 50%;
    overflow: hidden;
}
.features-item-img img{
    width: 100%;
    height: 100%;
}
.features-background {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10%;
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3.5rem;
}
.features-background h2{
    font-family: "Fraunces", serif;
    margin-bottom: 1rem;
}
.features-background p{
    font-family: "Barlow", serif;
    text-align: center;
}
.features-background-left {
    background-image: url("/images/desktop/image-graphic-design.jpg");
    color: hsl(167, 40%, 24%);
}
.features-background-right {
    background-image: url("/images/desktop/image-photography.jpg");
    color: hsl(198, 62%, 26%);
}
/*clients*/
.testimonials {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 6rem;
    background: hsla(42, 92%, 90%, 0.192);
}
.testimonials h2{
    font-family: "Fraunces", serif;
    font-weight: 900;
    color: hsl(210, 4%, 67%);
    text-transform: uppercase;
    margin: 3rem 0;
    letter-spacing: 0.3rem;
}
.clients{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.client{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.client img{
    border-radius: 100%;
    margin-bottom: 3rem;
}
.client-comment{
    color: hsl(198, 62%, 26%);
    font-family: "Barlow", sans-serif;
    margin-bottom: 3rem;
    padding: 0 1rem;
}
.client-name{
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 1.1em;
    margin-bottom: 1rem;
}
.client-job{
    font-family: "Barlow", sans-serif;
    color: rgb(148, 143, 143);
    font-size: 0.8rem;
}
/*gallery*/
.gallery{
    display: flex;
    width: 100%;
    height: 70vh;
}
.gallery-item{
    flex-basis: 25%;
    height: 100%;
}
.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*footer*/
footer {
    background: hsl(168, 32%, 55%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}
footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer nav ul {
    display: flex;
    margin-bottom: 4rem;
}
footer nav ul li {
    margin: 0 2rem;
}
footer nav .logo {
    display: block;
    text-align: center;
    width: 100%;
    width: 100%;
    margin: 2rem 0;
}
footer nav .logo img {
    width: 80%;
    height: auto;
    filter: invert(1);
}
.logo-path{
    fill:  hsl(167, 40%, 24%);
}
footer a {
    color: hsl(167, 40%, 24%);
    font-family: "Barlow", sans-serif;
    transition: all 0.3s;
}
footer a path {
    transition: all 0.3s;
}
footer a:hover {
    color: var(--color-white);
}
footer a:hover path {
    fill: var(--color-white);
}
.icons{
    display: flex;
    margin-bottom: 1rem;
}
.icons li{
    margin: 0 1rem;
}
.credit{
    font-size: 11px;
    text-align: center;
}
.credit a {
    color: hsl(228, 45%, 44%) !important;
}
.credit a:hover {
    color: var(--wite-color) !important;
}
@media (max-width: 768px){
    header nav{
        position: relative;
    }
    .toggle{
        display: none !important;
    }
    .hamburger-icon{
        display: inline-block;
        transition: opacity 0.3s;
    }
    .hamburger-icon:hover{
        opacity: 1;
    }
    header nav ul{
        position: absolute;
        padding: 1rem;
        top: 4rem;
        width: 100%;
        border-radius: 4px 0 4px 4px;
        background-color: var(--color-white);
        flex-wrap: wrap;
    }
    header nav ul::before{
        content: "";
        position: absolute;

    }
    header nav ul li{
        flex-basis: 50%;
        text-align: center;
        margin-bottom: 1rem ;
    }
    header nav ul li a{
        color: rgb(148, 143, 143) ;
    }
    header nav ul li:last-child a{
        background-color: hsl(51, 100%, 49%)
    }
    header nav ul li:last-child a:hover{
        background-color:  rgb(61, 190, 255);

    }
    .features-item {
        flex-wrap: wrap;
        height: 100vh;
    }
    .features-item:first-child {
        flex-wrap: wrap-reverse;
    }
    .features-item:last-child {
        height: 200vh;
    }
    .features-item-content {
        flex-basis: 100%;
        height: 60%;
        text-align: center;
        padding: 2rem;
    }
    .features-item-img {
        flex-basis: 100%;
        height: 40%;
    }
    .features-background {
        flex-basis: 100%;
        height: 50%;
    }
    .features-background h2{
        font-size: 2.5rem;
    }
    .features-background p2{
        font-size: 1.2rem;
    }

    .clients{
        flex-wrap: wrap;
    }
    .client{
       width: 100%; 
       margin-bottom: 4rem ;
    }
    .gallery{
        flex-wrap: wrap;
    }
    .gallery-item{
        flex-basis: 50%;
        width: 100%;
        height: 50%;
    }

}