:root{
    --color-white: #FFFFFF
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
     font-size: 18px;
     padding: 0;
     margin: 0;
 }

li{

    list-style: none;
}

a{
    text-decoration: none;
}

header{
    padding: 2rem;
    width: 100%;
}

@media (max-width: 768px){
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background: red;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0,0, 0,0.5);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
}