:root{
    --color-white: #FFFFFF
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
     font-size: 18px;
     padding: 0;
     margin: 0;
 }

li{

    list-style: none;
}

a{
    text-decoration: none;
}

header{
    padding: 2rem;
    width: 100%;
}

.hamburger-icon{
    display: none;
}
header nav{
    display: flex;
    justify-content: between;
}
header nav ul{
    display: flex;
    justify-content: space-around;
}
header nav ul li a{
    color: var(--color-white);
    cursor: pointer;
    font-family: "Barlow", sans-serif;
}
header nav ul li:last-child a{
    padding: 0.8rem 1.6rem;
    border-radius: 1.5rem;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.3s;
    font-family: "Fraunces", serif;
    font-size: 0.8rem;
}
header nav ul li:last-child a:hover{
    background: hsla(0, 0%, 100%, 0.37);
    color: var(--color-white);
}
.toggle{
    display: flex !important;
}

/*showcase*/
.showcase{
    background-image: url("/images/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showcase-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showcase-text h1{
    font-family: "Fraunces", serif;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.5rem;
    font-weight: 900;
    margin: 4rem 0;
}

/*features*/

@media (max-width: 768px){
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background: red;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0,0, 0,0.5);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
}