:root{
    --color-white: #FFFFFF
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.main{
    background-image: url(/images/desktop/image-header.jpg);

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem; 
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
}
.nav-link:hover{
    cursor: pointer;
}

.nav-logo{
    font-size: 2rem;
    font-weight: 500;
}

.hamburger {
    display: none;
}

.header .navbar ul li a{
    color: var(--color-white);
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.header .navbar ul li button a{
    font-family: "Fraunces", serif;
}

@media (max-width: 768px){
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background: red;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0,0, 0,0.5);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
}